<a href="https://colab.research.google.com/github/ciaoCiao100/esame_ia_febbraio/blob/main/Preparation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install -r requirements.txt

In [14]:
import pandas as pd
import functools
import numpy as np
import tensorflow as tf
from sklearn import tree
import matplotlib as plt
import nltk

import sklearn.metrics as metrics
import sklearn
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from tensorflow import feature_column
from tensorflow.keras import layers
from sklearn.model_selection import train_test_split
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
 

# operazione che fa in modo che i numeri siano pi√π leggibili
np.set_printoptions(precision=3, suppress=True)

Placement_data_file_path = "./Placement_Data_Full_Class.train.csv"
df = pd.read_csv(Placement_data_file_path)
df.head()

       status gender  ssc_p    ssc_b  ...  etest_p specialisation  mba_p    salary
0  Not Placed      M   52.0  Central  ...    72.00         Mkt&HR  55.41       NaN
1      Placed      M   70.0  Central  ...    55.00        Mkt&Fin  62.00  300000.0
2      Placed      M   73.0  Central  ...    95.46        Mkt&Fin  62.16  420000.0
3      Placed      M   67.0   Others  ...    56.00         Mkt&HR  60.41  225000.0
4      Placed      M   80.6   Others  ...    91.00        Mkt&Fin  74.49  400000.0

[5 rows x 14 columns]

# Divisione dei dati in train e test

In [15]:
train, test = train_test_split(df,test_size=0.2)
train= train.to_csv('train.csv', index = False)
test = test.to_csv('test.csv',index = False)